# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.venv

# Visual Studio Code
.vscode/*

# Ruff stuff:
.ruff_cache/

# Cursor
.cursorignore
.cursorindexingignore
