/checkpoints/
/output_files/
/wandb/
/lightning_logs/
/__pycache__/
/environment/__pycache__/
/models/__pycache__/
/.idea/
/EDA/
/not_on_git/
/thesis_figures/
/results/trained_models/AI2STOW/trial_1k
/results/trained_models/AI2STOW/trial_20k
/results/SMIP/scenario_tree
/logs/
/saved_models/
/test_results/__pycache__/
/not_on_git/scripts/
/scripts/

*.pyc
